<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Platform.Modeler.Properties.Settings.ejemploConexionBDConnectionString"
            connectionString="Data Source=KAKASHISITO\SQLEXPRESS2;Initial Catalog=ejemploConexionBD;User ID=sa;Password=Dragon905292886423"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>